body {
 margin: 0;
 padding: 0;
 background-color: rgb(39, 33, 33);
 color: white;
 font-size: large;
}

.big img {
 width: 100%;
 height: auto;
}

.a {
 padding: 2rem;
}

.b-img img {
 width: 100%;
 height: auto;
}

.b {
 padding: auto;
 margin-left: 1rem;
 width: 100%;
 background-color: rgb(54, 43, 43);
}

.PORT img {
 border-radius: 50%;
 width: 10rem;
}

.PORT1 {
 display: flex;
 justify-content: space-between;

}

.portfolio {
 padding: 1rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 background-color: rgb(19, 10, 1);
}

.lace {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.sequence {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.PORT2 {
 display: flex;
 justify-content: space-between;
}

.vintage {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.lycra {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.tribe{
  display: flex;
  justify-content: space-between;
}

.tribe2{
  display: flex;
  justify-content: space-between;
}

.tribe3{
  display: flex;
  justify-content: space-between;
}

.tribe4{
  display: flex;
  justify-content: space-between;
}
.chiffon{
  display: flex;
 flex-direction: column;
 align-items: center;
}

.cordlace{
  display: flex;
 flex-direction: column;
 align-items: center;
}

.wax{
  display: flex;
 flex-direction: column;
 align-items: center;
}

.ribbon{
  display: flex;
 flex-direction: column;
 align-items: center;
}

.velvet{
  display: flex;
 flex-direction: column;
 align-items: center;
}

.polyester{
  display: flex;
 flex-direction: column;
 align-items: center;
}

.crepe{
  display: flex;
 flex-direction: column;
 align-items: center;
}

.bp {
 text-align: center;
}

.port3 img {
 width: 20%;
 border-radius: 50%;
}

.port3 {
 text-align: center;
 background-color: rgb(54, 43, 43);
}

/* .port4 {
 display: flex;
} */

@media (min-width: 600px) {
 .body{
  font-size: xx-large;
  
 }
 .body p {
  size: 2rem;
 }
 .big img {
  height: 40vw;
 }
 .a{
   text-align: center;
 }
 .b-img img{
  height: 40rem;
 }
 .b{
  text-align: center;
 }
 /* .portfolio{
  padding: 5rem;
 } */
 .PORT1{
  justify-content: space-around;
  
 }
 .PORT2{
  justify-content: space-around;
  padding: 2rem;
 }
 .tribe{
  justify-content: space-around;
 }
 .tribe2{
  justify-content: space-around;
 }
 .tribe3{
  justify-content: space-around;
 }
 .tribe4{
  justify-content: space-around;
 }
.zam{
 display: flex;
}
}